body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
#cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#inputColor {
  width: 200px;
  height: 20px;
  outline: none;
}
button {
  padding: 3px 10px;
}
